html, body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

button:focus {
  outline: 0 !important;
}

button:hover{
  cursor: pointer !important;
}

button {
  border-radius: 0;
}

a:focus, a:hover {
  text-decoration: none;
  outline: 0 !important;
}

a.tab-link.active {
  background: #33691e;
}

.sidebar-input {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  margin: 10px 0;
}

.sidebar-drop {
  width: 100%;
}

.sidebar-drop button.dropdown-toggle {
  width: 100%;
  border-radius: 0;
  text-align: left;
}

.sidebar-drop ul.dropdown-menu {
  width: 100%;
  border-radius: 0;
}

.sidebar-drop ul.dropdown-menu a {
  height: 32px;
  padding: 6px;
}

.sidebar-drop span.caret {
  position: absolute;
  right: 12px;
  top: 14px;
}
