<!-- The account page -->
<div ng-controller="AccountController">

    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <button><a href="/v1/login/github" target="_self">Login Github</a></button>

                <div><img src="{{account.avatar_url}}" width="64px"> <a href="{{account.html_url}}" target="_top">{{account.name}}</a></div>

                <p>{{account.company}}</p>

                <p>{{token}}</p>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Id</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="organization in organizations">
                        <td><img src="{{organization.avatar_url}}" width="32px"></td>
                        <td><a href="{{organization.repos_url}}">{{organization.id}}</a></td>
                    </tr>
                    </tbody>
                </table>

            </div>


            <div class="col-md-8">

                <br/>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Language</th>
                        <th>Description</th>
                        <th>Add</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="project in projects">
                        <td><a href="{{project.html_url}}">{{project.full_name}}</a></td>
                        <td>{{project.language}}</td>
                        <td>{{project.description}}</td>
                        <td><input type="checkbox" name="my-checkbox"></td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div> <!-- End of this angular page -->
