<!-- The builds page -->
<div ng-controller="BuildsController">

    <div class="row">

        <div class="col-md-3">

            <br/>

            <!-- Search input -->
            <input type="text" class="form-control search" placeholder="{{'search'|translate}}" ng-model="search" autofocus>

            <br/>

            <!-- List all the builds -->
            <div ng-repeat="build in builds | filter: search">

                <div class="list-group">
                    <a href="" ng-click="changeBuild(build)" class="list-group-item">
                        <p class="list-group-item-heading">{{build.UserName}}/{{build.ProjectName}}</p>
                        <p class="list-group-item-text">{{build.Commit}}</p>
                        <p class="list-group-item-text">{{build.BuildTime}}</p>
                    </a>
                </div>

            </div>

            <!-- When search result is null, display the message -->
            <div ng-show="(builds | filter: search).length == 0">
                <p>{{'no_search_result_for'|translate}} <b style="color:blue">{{search}}</b></p>
            </div>

        </div>


        <div class="col-md-9">

            <h1><a ng-href="/projects/{{build.ProjectId}}">{{build.UserName}}/{{build.ProjectName}}</a></h1>

            <table border="0" width="75%">
                <tr>
                    <td><b>Branch:</b> {{build.Branch}}</td>
                    <td><b>Commit:</b> {{build.Committer}}</td>
                </tr>
                <tr>
                    <td><b>Commiter:</b> {{build.Commit}}</td>
                    <td><b>Worker:</b> {{build.Worker}}</td>
                </tr>
                <tr>
                    <td><b>Build time:</b> {{build.BuildTime}}</td>
                    <td><b>Finish:</b> true</td>
                </tr>
            </table>

            <hr/>

            <!-- Log console -->
            <div>
                <pre style="marginTop:20;padding:10;background:#000;color:#fafafa"><code>{{fullLog}}</code></pre>
            </div>

        </div>

    </div>

</div> <!-- End of this angular page -->