<!-- The builds page -->
<div ng-controller="BuildsController">

    <br/><br/><br/>

    <div class="row">

        <div class="col-md-3">

            <!-- Search input -->
            <input type="text" class="form-control search" placeholder="{{'search'|translate}}" ng-model="search" autofocus>

            <!-- List all the builds -->
            <ul class="list-unstyled" ng-repeat="build in builds | filter: search">
                <tr>
                    <p><a href="" ng-click="changeBuild(build)">{{build.ProjectName}}</a></p>
                </tr>
            </ul>

            <!-- When search result is null, display the message -->
            <div ng-show="(builds | filter: search).length == 0">
                <p>{{'no_search_result_for'|translate}} <b style="color:blue">{{search}}</b></p>
            </div>

        </div>


        <div class="col-md-9">

            <h3>{{build.ProjectName}}</h3>

            <p><span>Branch: {{build.Branch}}</span> &nbsp;&nbsp; <span>Commit: {{build.Commit}}</span></p>

            <p><span>Worker: 127.0.0.1</span> &nbsp;&nbsp; <span>Commiter: {{build.Committer}}</span></p>

            <p><span>Build time: {{build.BuildTime}}</span> &nbsp;&nbsp; <span>Finish: true</span></p>

            <div>
                <pre><code>{{fullLog}}</code></pre>
            </div>

        </div>


    </div>




</div> <!-- End of this angular page -->