<!-- The projects page -->
<div ng-controller="ProjectsController">

    <!-- Modal to add project -->
    <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addServerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="addServerModalLabel">Confirm project information</h3>
                </div>

                <div class="modal-body">

                    <form role="form" >
                        <div class="form-group">
                            User name: <input class="form-control" type="text" placeholder="ArchCI" ng-model="userName">
                        </div>

                        <div class="form-group">
                            Project name: <input class="form-control" type="text" placeholder="archci" ng-model="projectName">
                        </div>
                        <div class="form-group">
                            Repo url: <input class="form-control" type="text" placeholder="https://github.com/{{userName}}/{{projectName}}.git" ng-model="repoUrl">
                        </div>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="addProject(userName, projectName, repoUrl)">Add Project</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal to show badge url -->
    <div class="modal fade" id="showBadgeUrlModal" tabindex="-1" role="dialog" aria-labelledby="addServerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="showBadgeUrlModalLabel">Github badge for {{project.UserName}}/{{project.ProjectName}}</h3>
                </div>

                <div class="modal-body">

                    <form role="form" >
                        <div class="form-group">
                            <h4>Badge:</h4>
                            <img src="{{requestProjectBadgeUrl}}">
                        </div>

                        <div class="form-group">
                            <h4>Image Url:</h4>
                            <input class="form-control" type="text" placeholder="ArchCI" ng-model="projectBadgeUrl">
                        </div>

                        <div class="form-group">
                            <h4>Markdown Url:</h4>
                            <input class="form-control" type="text" placeholder="ArchCI" ng-model="projectBadgeMarkdown">
                        </div>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">

            <br/>

            <div class="row">
                <!-- Button to add project -->
                <div class="col-md-8">
                    <button style="width:100%;" class="btn btn-info hvr-shadow" type="submit" data-toggle="modal" data-target="#addProjectModal">Add Project</button>
                </div>

                <!-- Button to trigger ci -->
                <div class="col-md-4">
                    <button style="width:100%;" class="btn btn-success hvr-shadow" ng-click="triggerCI(project)" class="btn btn-success btn-sm hvr-shadow" type="submit">Trigger CI</button>
                </div>
            </div>

            <br/>

            <!-- Search input -->
            <div>
                <input type="text" class="form-control search" placeholder="{{'search'|translate}}" ng-model="search" autofocus>
            </div>

            <br/>

            <!-- List all the projects -->
            <div ng-repeat="project in projects | filter: search">
                <div class="list-group">
                    <a href="" ng-click="changeProject(project)" class="list-group-item">
                        <p class="list-group-item-heading">{{project.UserName}}/{{project.ProjectName}}</p>
                    </a>
                </div>
            </div>

            <!-- When search result is null, display the message -->
            <div ng-show="(projects | filter: search).length == 0">
                <p>{{'no_search_result_for'|translate}} <b style="color:blue">{{search}}</b></p>
            </div>

        </div>


        <div class="col-md-9">

            <h1>
                <a ng-href="{{project.RepoUrl}}" target="_blank">{{project.UserName}}/{{project.ProjectName}}</a>
                <a href="" data-toggle="modal" data-target="#showBadgeUrlModal"><img src="{{requestProjectBadgeUrl}}"></a>
            </h1>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Build ID</th>
                        <th>Branch</th>
                        <th>Commit</th>
                        <th>Committer</th>
                        <th>Build time</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="build in builds | reverse">
                        <td><a ng-href="/builds/{{build.Id}}">{{build.Id}}</a></td>
                        <td>{{build.Branch}}</td>
                        <td>{{build.Commit}}</td>
                        <td>{{build.Committer}}</td>
                        <td>{{build.BuildTime}}</td>
                        <td>{{build.Status}}</td>
                    </tr>
                </tbody>
            </table>

            <hr/>

            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Danger zone <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="deleteProject(project.Id)">Delete project</a></li>
                </ul>
            </div>
        </div>

    </div>

</div> <!-- End of this angular page -->