<!-- The projects page -->
<div ng-controller="ProjectsController">


    <br/><br/><br/>

    <div class="row">

        <div class="col-md-3">

            <!-- Search input -->
            <input type="text" class="form-control search" placeholder="{{'search'|translate}}" ng-model="search" autofocus>

            <!-- List all the projects -->
            <ul class="list-unstyled" ng-repeat="project in projects | filter: search">
                <tr>
                    <p><a href="" ng-click="changeProject(project)">{{project.ProjectName}}</a></p>
                </tr>
            </ul>

            <!-- When search result is null, display the message -->
            <div ng-show="(projects | filter: search).length == 0">
                <p>{{'no_search_result_for'|translate}} <b style="color:blue">{{search}}</b></p>
            </div>

        </div>


        <div class="col-md-9">

            <h3>Project: {{project.ProjectName}}</h3>

            <p><span>RepoUrl: {{project.RepoUrl}}</span></p>

            <p><span>Status: {{project.Status}}</span></p>

            <button ng-click="triggerCI(project)" class="btn btn-info hvr-shadow" type="submit">Trigger CI</button>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Build ID</th>
                        <th>Commit</th>
                        <th>Committer</th>
                        <th>Build time</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="build in builds">
                        <td><a ng-href="/builds/{{build.Id}}">{{build.Id}}</a></td>
                        <td>{{build.Commit}}</td>
                        <td>{{build.Committer}}</td>
                        <td>{{build.BuildTime}}</td>
                        <td>{{build.Status}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div> <!-- End of this angular page -->