<!-- The workers page -->
<div ng-controller="WorkersController">

    <div class="row">
        <div class="col-md-3">
            <h4>Busy</h4>
        </div>

        <div class="col-md-9">
            <ul class="list-unstyled" ng-repeat="worker in busyWorkers">
                <li>
                    <pre>{{worker.Ip}}  ({{worker.LastUpdate}})</pre>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h4>Idle</h4>
        </div>

        <div class="col-md-9">
            <ul class="list-unstyled" ng-repeat="worker in idleWorkers">
                <li>
                    <pre>{{worker.Ip}}  ({{worker.LastUpdate}})</pre>
                </li>
            </ul>
        </div>
    </div>

</div> <!-- End of this angular page -->